@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300);
nav {
  background-color: #3e3f3a;
  color: white;
 width: 100%;
  padding: 20px;
    padding-bottom: 10px;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
nav div{
    display: inline-block;
}

body {
  font-size: 15px;
  line-height: 24px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
   background-color: #e7ebd7;
}


button, #login-buttons .login-button, .accounts-dialog .login-button {
background-color: #80BC01;
border: none;
border-radius: 0px;
color: #FFF;
padding: 4px 8px;
font-size: 80%;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
line-height: 1.5;
cursor: pointer;
    -webkit-transition: all .5s;
    transitioin: all .5s;
    
}
button:hover, #login-buttons .login-button:hover{
    background: #557D01;
}
.home {
  padding: 20px;
  width: 100%;
 box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.module {
  width: 250px;
  height: 200px; 
  background-color: rgba(256,256,256,.8);
  padding: 20px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-sizing: border-box;
}
.module h1, .module h1 a{
  margin-top: 0px;
  text-align: center;
  text-decoration: none;
  color: #3e3f3a;
  font-size: 20px;
}
nav h1{
    font-weight: 300;
}

.version {
margin-left: 10px;
  font-size: 12px;
}

footer {
  background: #3e3f3a;
  color: white;
  padding: 20px;
  max-width: 100%;
  margin-top: -20px;
}

footer a{
  color: white;
}
.module input {
  border: 2px solid #3e3f3a;
  padding: 10px;
  width: 210px;
  box-sizing: border-box;
  margin-bottom: 10px;}

.module .description {
  height: 48px;
  overflow: hidden;
  margin-bottom: 10px;
}
ul {
    list-style: none;
}
ul li {
    padding: 10px;
    margin-top: 10px;
    width: 500px;
}
.selected{
    background-color: #3e3f3a;
    color: white;
}


nav span {
    display: inline-block;
    float: right;
}

nav .brand {
    font-size: 20px;
    font-weight: 300;
}

nav .place-right {
    float: right;
}
